body{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,53,94,1) 50%, rgba(136,136,136,1) 100%);;
    font-family: "Nunito", sans-serif;
}

#mainNavbar{
    font-size: 1rem;
}

#mainNavbar .nav-link{
    color: white;
}

h2{
    color: white; 
    font-weight: 100;   
}
#mainNavbar .nav-link:hover{
    background: #e4c8e4;
    color: #fd4f5d;
    border-radius: 5px;
}

#mainNavbar .navbar-brand{
    color: #ea1c2c;
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
}

#heading span{
    color: #fd4f5d;
}

#heading h2{
    font-size: 4rem;
    font-weight: 100;
}

.content{
    margin-top: 100px;
    margin-bottom: 100px;
}

.content:last-child{
    margin-bottom: 0;
}
 p{
    color: #ddd;
    font-size: 1.125rem;
    line-height: 2;
    font-weight: 100;
}

img {
    width: 100%;
    height: 100%;
} 

.navbar.scrolled{

    background: rgb(0,0,0,0.5);
    transition: background 300ms;
}

@media (max-width: 1200px){
    #heading h2{
        font-size: 3rem;
        font-weight: 100;
    }
}