/*The Text-align CSS propety sets the horizontal alignment of the content inside a block element or table-cell box. This means it works like vertical align but in the horizontal direction.*/

h1{
/* Keyword values */
text-align: start;
text-align: end;
text-align: left;
text-align: right;
text-align: center;
text-align: justify;
text-align: justify-all;
text-align: match-parent;

/* Character-based alignment in a table column */
text-align: ".";
text-align: "." center;

/* Block alignment values (Non-standard syntax) */
text-align: -moz-center;
text-align: -webkit-center;

/* Global values */
text-align: inherit;
text-align: initial;
text-align: revert;
text-align: unset;
}

/*The font-weight CSS property sets the weigh (or boldness) of the font. The weights avaible depend on the font-family that is currently set.*/
h1{
/* Keyword values */
font-weight: normal;
font-weight: bold;

/* Keyword values relative to the parent */
font-weight: lighter;
font-weight: bolder;

/* Numeric keyword values */
font-weight: 100;
font-weight: 200;
font-weight: 300;
font-weight: 400;// normal
font-weight: 500;
font-weight: 600;
font-weight: 700;// bold
font-weight: 800;
font-weight: 900;

}

/*The text-decoration shorthand CSS property sets the appearence of decoratives lines on text. It is a shorthand for text decoration line, text-decoration-color, text-decoration-style, and the newer text-decoration-thickness property.*/
h1{
    
text-decoration: underline;
text-decoration: overline #f00;
text-decoration: none;

/* Global values */
text-decoration: inherit;
text-decoration: initial;
text-decoration: revert;
text-decoration: unset;

}

/*The line-height CSS property sets the height of a line box. It's commomly uses to set distances betwen line of text. On block-level elements, it specifies the mimimun height of line boxes within element. On non-replaced inline elements, it specifies the height that is used to calculate line box height*/
h1{
    
/* Keyword value */
line-height: normal;

/* Unitless values: use this number multiplied
by the element's font size */
line-height: 3.5;

/* <length> values */
line-height: 3em;

/* <percentage> values */
line-height: 34%;
}

/*The letter-spacing CSS property sets the horizontal spacing behavior between text characters. This value is added to the natural spacing between characters while rendering the text. Positive values of letter-spacing causes characters to spread farther apart, while negative values of letter-spacing bring characters closer together.*/

h1{
    /* Keyword value */
letter-spacing: normal;

/* <length> values */
letter-spacing: 0.3em;
letter-spacing: 3px;
letter-spacing: .3px;
}