/* Make all LI's blue */

/* Make everything with the class of 'done' grey*/

/* Make the element with the id of 'clear' have a red BG and white text */
li {
    color: #00f;
}
.done{
    color: #808080;
}
#clear{
    background-color: #f00;
    color: #fff;
}