div {
    background-color: white;
    width: 210px;
    border: 1px solid rgb(71, 71, 71);
    text-align: center;
    border-radius:5px;
}
img {
    width:200px;
    border: 5ps solid rgb(236, 183, 191);
    border-radius: 50%;
}